@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*DEFINE VARIAVEIS GLOBAIS PARA CORES E BORDAS  A MAUTENÇÃO  E AJSUTES FUTUROS*/

:root {
    --main-color: #da190f;
    --br: #13131a;
    --bg-card: #0c0c14;
    --border: 0.1rem solid gray;
}

/*remove margens, paddins e bordas padroes.
define o comportamneto*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    text-transform: capitalize;/*letras masiculas*/
    transition: 0.2s linear;/*Transição habilitada por padrão*/
    font-family: 'roboto', 'sans-serif';
    outline: none; /*Define a caixas e informamos sem contorno*/
}

html {
    font-size: 62.5%;/*configura o fonte size para 62.5%, facilita o uso do rem (1rem =10px)*/
    overflow-x: hidden; /*evita a rolagem horizontal. hidden (itens não estouram)*/
    scroll-behavior: smooth; /*adiciona comportamento de rolagem suave*/
    scroll-padding-top: 9rem;/*é usado coo alienado ao scroll-smooth para dar uma melhor visualização do scroll*/
}

html::-webkit-scrollbar {
    width: 0.8rem;/*Personalixa o estilo da barra de rolagem no webkit*/

}

html::-webkit-scrollbar-track {/*personaliza o estilo da barra de rolagem no web kit*/
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 5rem;
}

body {
    background-color: var(--br); /*Define o fundo da página com a variável*/
}

section {
    padding: 2rem 7%;

}

.heading {
    text-align: center;
    color: #fff;
    text-transform: uppercase; /*texto em caixa alta*/
    padding-bottom: 3rem;
    font-size: 4rem;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
    
}

.btn {
    padding: 0.9rem 3rem;
    margin-top: 1rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    display: inline-block;
}

.btn:hover {
    letter-spacing: 0.2rem; /*Espaçamento entre as letras*/
}

.header{
    background: var(--br);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--border);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.header .logo img{
    height: 6.5rem;
    border-radius: 100%;
}

.header nav a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #fff;
}

.header nav a:hover {
    color: var(--main-color);/*muda a cor do ver*/
    border-bottom: 0.1rem solid var(--main-color); /*Adiciona uma linha inferior no hover*/
    padding-bottom: 0.5rem; /*adiciona espaçamento inferior no hover*/
}

.header .icons div {
    margin-left: 2rem;
}

.header .icons div ion-icon {
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
}
.header .icons div ion-icon:hover {
    color: var(--main-color);
}

.icons {
    display: flex;
    align-items: center;
}

#menu-btn {
    display: none;
}

/*section home*/

#home {
    position: relative;
    min-height: 85vh;
    display: flex; 
    align-items: center;
    background: url(img/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: var(--border);
}

#home::before {
    content: ""; /*adicona pseudo-elemnto vazio*/
    position: absolute; /*permite posionamentoabsoluto*/
    top: 0;  /*alinha o topo*/ 
    left: 0;/*alinha a esquerda*/
    width:100%; /*ocupa toda a largura*/
    height:100%; /*ocupa toda a altura*/
    background: rgba(0, 0, 0, 0.5); /*adicina sobreposição escura */
    z-index: 1; /*posiona abaixo do conteudo eixo z*/
}

.content {
    max-width: 60rem; /*Define largura máxima*/
    position: relative; /*Permite manipular a posição*/
    z-index: 2; /*Grante que o conteudo fique acima da sobreposição*/
}
.content h3 {
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}

.content p {
    font-size: 2rem;
    font-weight: lighter; /*peso da fonte mais leve*/
    line-height: 1.8; /*Espaçamento entre as linha*/
    padding: 1rem 0; 
    color: #fff;
}

.row {
    display: flex;
    align-items: center;
    background: var(--bg-card);
    flex-wrap: wrap;
    border: var(--border);
}



.row .img {
    flex: 1 1 45rem;
}

.row .img img {
    width: 100%;

}

.row .content {
    flex: 1 1 45rem;
    padding: 2rem;
}


.row .content h3 {
    font-size: 3rem;
    color: #fff;
}

.row .content p {
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8rem;
}

.menu .box-container {
    display: grid; /*Organização oslemntos internos em um layaout de grade*/
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5;
}

.box-container .box {
    padding: 5rem;
    text-align: center;
    border: var(--border);
    background: var(--bg-card);
}

.box img {
    height: 18rem;
    border-radius: 100%;
}

.box h3 {
    color: #fff;
    font: 2rem;
    padding: 1rem 0;
}

.box .price {
    color: #fff;
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

.box .price span {
    font-size: 1.5rem;
    text-decoration: line-through;/*aplicamos linha para indicar preço riscado*/
    font-weight: lighter; /*aplica um peso de fonte mais fino*/
}

.box:hover {
    background: #fff;
}

.box:hover > * {
    color: black; /*altera a cor dos filhos*/
}




/*section promoções */


.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); /*Cria colunas flexiveis com larguras minimas de 30rem e maxima promocional*/
    gap: 1.5rem;
}

.products .box-container .box {
    text-align: center;
    border: var(--border);
    padding: 2rem;
}

.products .box .icons a ion-icon {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    font-size: 1.7rem;
    border: var(--border);
    color: #fff;
    margin: 0.3rem;
}

.products .box .icons a ion-icon:hover {
    background: var(--main-color);
}

.box .image { /*habilitando um preenchimento ao elemento pai da imagem*/
    padding: 2.5rem 0;
}

.box .image img { /*altura padrao das imagem*/
    height: 25rem;
}

.products .box .content {
    color: #fff;
    font-size: 2.5rem;
}

.products .box .content .stars ion-icons {
    font-size: 1.9rem;
    color: var(--main-color);
}

.box .content .price {
    color: white;
    font-size: 2.5rem;
}

.box .content .price span {
    font-weight: lighter;
    font-size: 1.5rem;
    text-transform: lowercase;
}



/*section reiew*/

.review .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box{
    border: var(--border);
    text-align: center;
    padding: 3rem 2rem;
}

.review .box-container .box p {
    font-size: 1.7rem;
    line-height: 1.8;
    color: #ccc;
    padding: 2rem 0;

}

.user {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover; /*ajusta a imagem para preencher o container sem distorção*/
}

.review .box-container .box h3 {
    padding: 1rem 0;
    color: #fff;
    font-size: 2.2rem;
}

.star ion-icon{
    font-size: 1.7rem;
    color: var(--main-color);
}

/*FOOTER*/

.title-footer {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 1.5rem;
}


.title-footer span {
    color: var(--main-color);
    text-transform: uppercase;
}

.footer {
    background: var(--br);
    text-align: center;
    padding: 4rem 0;
}

.footer .container {
    display:flex ;
    justify-content: space-between;
    padding: 0 7%;
    flex-wrap: wrap;
}

.content-1 {
    flex: 1 1 25rem; /*define tamnho flexievl com largura mínima de 25rem*/
    margin: 1rem;
}

.content-1 ul li {
    margin-bottom: 1rem;
}

.content-1 ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 1.6rem;
    transition: color 0.3s ; /*aplica transição suave na mudança de cor*/
}
.content-1 ul li a:hover {
    color: var(--main-color);
}

.social-links {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1.5rem;
}

.social-links a {
    color: #ccc;
    font-size: 3rem;
    transition: color 0.3s;
}

.social-links a:hover{
    color: var(--main-color);
}

.footer-bottom{
    text-align: center;
    padding: 1rem 0;
    font: 1.6rem;
    border-top: var(--border);
    margin-top: 2rem;
    color: #ccc;

}


@media (max-width:991px) {
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 2rem;
    }
}

@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }
    .header nav{
        position: absolute; /*adicionar esse codigo quando entrar JS*/
        top: 100%;
        right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }
    .home {
        background-position: left;
        justify-content: center;
        text-align: center;

    }
    .home .content h3 {
        font-size: 4.5rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}